.mainHeader {
    margin: 0;
    padding: 2rem 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading {
    height: 2rem;
    margin-bottom: -2rem;
    text-align: center;
    accent-color: #e30d7c;
}

.nav {
    display: flex;
    gap: 1rem;
}