.label {
    display: block;
    font-weight: bold;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
    color: #3c4249;
    text-transform: uppercase;
}

.input,
.textarea {
    font: inherit;
    font-size: 1.1rem;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

.controlsRow {
    display: flex;
    gap: 2rem;
    margin-bottom: .8rem;
}

.margin{
    margin-bottom: .8rem;
}