<nav class="movies-navbar">
  <h2>
    <a routerLink="/systems/movies">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
        <path d="M18 4l2 4h-3l-2-4h-2l2 4h-3l-2-4H8l2 4H7L5 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4h-4z" />
      </svg>
      {{ i18n.t('movies.title') }}
    </a>
  </h2>
  <form (submit)="handleSubmit($event)">
    <input
      type="text"
      [placeholder]="i18n.t('movies.searchPlaceholder')"
      [(ngModel)]="search"
      name="search"
    />
    <button type="submit" [attr.aria-label]="i18n.t('movies.searchPlaceholder')">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
        <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
      </svg>
    </button>
  </form>
</nav>
