.overviewSection {
    background-image: url('/convene/meetup.jpg');
    margin: -8rem 0 3rem 0;
    padding: 8rem 15%;
    color: #222c31;
    text-align: center;
}

.overh2 {
    font-size: 2.5rem;
    margin: 2rem auto;
    color: #1d161a;
}

.overStrong {
    color: #e30d7c;
}

.overP {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
}