.eventItem {
    height: fit-content;
    margin: 2rem 0;
    padding: 0;
    border-radius: 4px;
    background-color: #3c4249;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    gap: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
}

.img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.content {
    height: 100%;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h2 {
    font-size: 1.5rem !important;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #d7bfcb;
}

.date {
    margin: 0.5rem;
    font-size: 0.85rem;
    font-family: 'Quicksand', sans-serif;
}

.location {
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
}

.button{
    margin-top: 1rem;
}