<div class="align">
  <div class="container">
    <h2 class="title">{{ i18n.t('movies.topMovies') }}</h2>
    @if (moviesState.loading()) {
      <p class="loading">{{ i18n.t('movies.loading') }}</p>
    } @else {
      <div class="movies-container">
        @for (movie of moviesState.movies(); track movie.id) {
          <div class="movie-card">
            <img
              [src]="movie.poster_path ? moviesState.imgApi + movie.poster_path : fallbackPoster"
              [alt]="movie.title"
            />
            <h2>{{ movie.title }}</h2>
            <p><span class="star">★</span> {{ movie.vote_average }}</p>
            <a [routerLink]="['/systems/movies/movie', movie.id]">{{ i18n.t('movies.details') }}</a>
          </div>
        }
      </div>
    }
  </div>
</div>
