.systems-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url('/bg_img.png');
  background-size: cover;
  background-position: center;
}
.systems-layout.has-system {
  justify-content: flex-start;
}

.header-systems {
  margin-top: 5rem;
  text-align: center;
}

.content {
  width: 100%;
}
.content.with-padding {
  padding-top: 4rem;
}
