<article>
  <header>
    <h3>{{ opinion().title }}</h3>
    <p>{{ i18n.t('opinly.sharedBy', { name: opinion().userName }) }}</p>
  </header>
  <p class="body-text">{{ opinion().body }}</p>
  <form class="votes" (submit)="$event.preventDefault()">
    <button title="Like" type="button" [disabled]="voting()" (click)="upvote()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <rect width="18" height="18" x="3" y="3" rx="2" />
        <path d="m16 12-4-4-4 4" />
        <path d="M12 16V8" />
      </svg>
    </button>
    <span>{{ optimisticVotes() }}</span>
    <button title="Unlike" type="button" [disabled]="voting()" (click)="downvote()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <rect width="18" height="18" x="3" y="3" rx="2" />
        <path d="M12 8v8" />
        <path d="m8 12 4 4 4-4" />
      </svg>
    </button>
  </form>
</article>
