.new-opinion {
    margin-top: -3rem;
    background-color: #2e2923;
    color: #f9f7f3;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}

.control-row {
    display: flex;
    gap: 1rem;
}

.control {
    flex: 1;
}

.top{
    margin-top: 1rem;
}

.errors {
    list-style: none;
    color: #fcc586;
    font-size: 0.85rem;
    padding: 0;
    margin-top: 0.5rem;
}

.form label {
    display: block;
    margin-bottom: 0.25rem;
    font-family: 'Rubik', sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    color: #d2cdc6;
}

.form input,
.form textarea {
    display: block;
    font: inherit;
    width: 100%;
    padding: 0.5rem;
    font-family: 'Rubik', sans-serif;
    border-radius: 4px;
    border: 1px solid #353331;
    background-color: #f9f7f3;
    color: #353331;
}

.form button {
    margin-top: 1rem;
    font: inherit;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #2e2923;
    background-color: #fd9217;
    border: 1px solid #fd9217;
    border-radius: 4px;
    cursor: pointer;
}

.form button:disabled,
.form button:disabled:hover {
    background-color: #869999;
    border-color: #869999;
    cursor: not-allowed;
}

.form button:hover {
    background-color: #f97706;
    border-color: #f97706;
}