#all-events-section.find {
  margin-bottom: 0 !important;
}

#all-events-section .find-header {
  margin-top: -5rem;
  margin-bottom: 1rem;
}

#all-events-section .find-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

#all-events-section .find-form {
  display: block;
}

#all-events-section .find-input {
  font: inherit;
  padding: 0.5rem 1rem;
  border-radius: 4px 0 0 4px;
  border: none;
  background: white;
  color: #1d161a;
  vertical-align: top;
}

#all-events-section .find-button {
  font: inherit;
  padding: 0.5rem 1rem;
  border-radius: 0 4px 4px 0;
  border: none;
  background: #b6cad5;
  color: #1d161a;
  font-weight: bold;
  cursor: pointer;
  vertical-align: top;
}

#all-events-section .find-message {
  margin-top: 1rem;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
}
