.header {
    width: 40rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 1rem;
}

.button,
.a {
    font: inherit;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #b6cad5;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    padding: 0.25rem;
}

.button:hover,
.a:hover {
    padding: .25rem;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.allEvents:hover {
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.eventDetailsContent {
    width: 40rem;
    margin: 2rem auto;
    background-color: #343b3f;
    border-radius: 8px;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 22rem;
    object-fit: cover;
    margin-bottom: 2rem;
}

.info {
    padding: 0 3rem 3rem 3rem;
}

.location {
    font-size: 1.15rem;
    color: #b6cad5;
    font-weight: bold;
    margin: 0;
}

.time {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.description {
    font-size: 1.25rem;
    line-height: 2rem;
    color: #b6cad5;
}

.margin{
    margin-top: -.5rem;
}

.marginDetails{
    margin-top: -1.5rem;
}

.h2{
    margin-bottom: 1rem;
}