@if (talkiveState.chatUser(); as chatUser) {
  @if (talkiveState.userData(); as userData) {
    <div class="chat-box">
      <div class="chat-user">
        <img [src]="chatUser.avatar || assets.avatar_icon" [alt]="i18n.t('talkive.chat.userAlt')" />
        <p>
          {{ chatUser.name }}
          @if (isOnline(chatUser.lastSeen)) {
            <img [src]="assets.green_dot" alt="" class="dot" />
          }
        </p>
        <img [src]="assets.help_icon" class="help" [alt]="i18n.t('talkive.chat.help')" />
        <img [src]="assets.arrow_icon" class="arrow" [alt]="i18n.t('talkive.chat.arrow')" (click)="closeChat()" />
      </div>

      <div class="chat-msg">
        @for (msg of talkiveState.messages(); track $index) {
          <div [class]="msg.sId === userData.id ? 's-msg' : 'r-msg'">
            @if (msg.image) {
              <img class="msg-img" [src]="msg.image" [alt]="i18n.t('talkive.chat.imageAlt')" />
            } @else {
              <p class="msg">{{ msg.text }}</p>
            }
            <div>
              <img
                [src]="msg.sId === userData.id ? userData.avatar : chatUser.avatar"
                [alt]="i18n.t('talkive.chat.imageAlt')"
              />
              <p>{{ formatTimestamp(msg) }}</p>
            </div>
          </div>
        }
      </div>

      <div class="chat-input">
        <input
          type="text"
          [placeholder]="i18n.t('talkive.chat.sendMessagePlaceholder')"
          [ngModel]="draft()"
          (ngModelChange)="draft.set($event)"
          (keydown)="onKeyDown($event)"
        />
        <input
          type="file"
          id="talkive-image"
          accept="image/png, image/jpeg"
          hidden
          (change)="onImageSelected($event)"
        />
        <label for="talkive-image">
          <img [src]="assets.gallery_icon" [alt]="i18n.t('talkive.chat.gallery')" />
        </label>
        <img [src]="assets.send_button" [alt]="i18n.t('talkive.chat.send')" (click)="sendMessage()" />
      </div>
    </div>
  }
} @else {
  <div class="chat-welcome">
    <img [src]="assets.logo_icon" alt="Logo" />
    <p>{{ i18n.t('talkive.chat.welcomeMessage') }}</p>
  </div>
}
